.custom-toolbar {
    position: relative;

    ion-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.nav-link {
    cursor: pointer;
}

.nav-link.active {
    background-color: #28a745;
    color: white;
}

.nav-item {
    width: 50%;
}

.rescate-img {
  width: 150px;
  height: auto;
}

.rescate-info {
  text-align: right;
}

.nav-link{
    background-color: #28a745;
    color: white;
}

.bg-white {
  background-color: white !important;
  border: #28a745 1px solid;
  color: #28a745;
}

.color-button{
    color: white;
    background-color: #28a745;
}