<ion-content [fullscreen]="true">
    <div class="hero-section">
        <video id="videoElement" autoplay muted loop playsinline>
            <source src="../../assets/videos/heroSection.mp4" type="video/mp4">
            Tu navegador no soporta el elemento de video.
        </video>
        <div class="content">
            <h1>ANIMALIA</h1>
            <p>¿Te has encontrado con un animal salvaje y quieres ayudar? Nuestra app te permite tomarle una foto y
                compartirla para que organizaciones y empresas comprometidas con la conservación puedan actuar. Juntos,
                salvamos especies en peligro y protegemos la vida silvestre</p>
            <div class="login-section">
                <ion-button href="/IniciarSesion">Inicia sesión<ion-icon name="log-in-outline"></ion-icon></ion-button>
            </div>
            <div class="buttons-group">
                <ion-button href="/Animales">Ver Animales</ion-button>
                <ion-button href="/Empresas">Ver Empresas</ion-button>
            </div>
        </div>
    </div>
</ion-content>
