<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Animales" href="/Animales">
      <ion-icon name="paw"></ion-icon>
      <ion-label>Animales</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="!userRol" tab="Empresas" href="/Empresas">
      <ion-icon name="business"></ion-icon>
      <ion-label>Empresas</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="userRol" tab="Adopciones" href="/adopciones">
      <ion-icon name="heart-circle"></ion-icon>
      <ion-label>Adopciones</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="userRol" tab="Donaciones" href="/donaciones">
      <ion-icon name="cash"></ion-icon>
      <ion-label>Donaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="userRol == 'USER' || userRol == 'ADMIN'" tab="Camara" href="/Camara">
      <ion-icon name="camera"></ion-icon>
      <ion-label>Cámara</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="userRol == 'EMPRESA' || userRol == 'ADMIN'" tab="Rescates" href="/Rescates">
      <ion-icon name="medical"></ion-icon>
      <ion-label>Rescates</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="userRol == 'ADMIN'" tab="Gestion" href="/Gestion">
      <ion-icon name="construct"></ion-icon>
      <ion-label>Gestión</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="!userRol" tab="IniciarSesion" href="/Sign-form">
      <ion-icon name="person"></ion-icon>
      <ion-label>Iniciar Sesión</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="userRol" tab="Perfil" href="/perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
